<a href="https://colab.research.google.com/github/PosgradoMNA/actividades-de-aprendizaje-SinaiAvalos/blob/main/Actividad%20Semanal--6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Actividad Semanal -- 6, visualización**

Nombre: Sinaí Avalos Rivera

Matrícula: A01730466

Materia: Ciencia y analítica de datos

Profesor: María de la Paz Rico Fernández

Fecha: 01 de noviembre de 2022

**Ejercicio 1**

Descarga los datos y carga el dataset en tu libreta.

In [1]:
# Incluye aquí todos módulos, librerías y paquetes que requieras.
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

El conjunto de datos a utilizar es proveniente a una investigación sobre el caso de los pagos predeterminados de los clientes en Taiwán a partir de abril de 2005 a septiembre del mismo año.

El conjunto de datos es llamado: **default of credit card clients Data Set**.

Esta investigación empleó una variable binaria, pago por defecto (Sí = 1, No = 0), como variable de respuesta. Este estudio revisó la literatura y utilizó las siguientes 23 variables como variables explicativas:

- X1: Monto del crédito otorgado (dólar NT): incluye tanto el crédito de consumo individual como su crédito familiar (complementario).
- X2: Género (1 = masculino; 2 = femenino).
- X3: Educación (1 = posgrado; 2 = universidad; 3 = secundaria; 4 = otros).
- X4: Estado civil (1 = casado; 2 = soltero; 3 = otros).
- X5: Edad (año).
- X6 - X11: Historial de pagos pasados.
- X12-X17: Importe del estado de cuenta (dólar NT)
- X18-X23: Monto del pago anterior (dólar NT)


Generado por:

Yeh, I. C., & Lien, C. H. (2009). The comparisons of data mining techniques for the predictive accuracy of probability of default of credit card clients. Expert Systems with Applications, 36(2), 2473-2480.

In [2]:
#Carga del dataset en la variable df
url = 'https://raw.githubusercontent.com/PosgradoMNA/Actividades_Aprendizaje-/main/default%20of%20credit%20card%20clients.csv'

df = pd.read_csv(url, sep=',')
df

,ID,X1,X2,X3,X4,X5,X6,X7,X8,X9,...,X15,X16,X17,X18,X19,X20,X21,X22,X23,Y
0,1,20000,2.0,2.0,1.0,24.0,2.0,2.0,-1.0,-1.0,...,0.0,0.0,0.0,0.0,689.0,0.0,0.0,0.0,0.0,1.0
1,2,120000,2.0,2.0,2.0,26.0,-1.0,2.0,0.0,0.0,...,3272.0,3455.0,3261.0,0.0,1000.0,1000.0,1000.0,0.0,2000.0,1.0
2,3,90000,2.0,2.0,2.0,34.0,0.0,0.0,0.0,0.0,...,14331.0,14948.0,15549.0,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0,0.0
3,4,50000,2.0,2.0,1.0,37.0,0.0,0.0,0.0,0.0,...,28314.0,28959.0,29547.0,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0,0.0
4,5,50000,1.0,2.0,1.0,57.0,-1.0,0.0,-1.0,0.0,...,20940.0,19146.0,19131.0,2000.0,36681.0,10000.0,9000.0,689.0,679.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29995,29996,220000,1.0,3.0,1.0,39.0,0.0,0.0,0.0,0.0,...,88004.0,31237.0,15980.0,8500.0,20000.0,5003.0,3047.0,5000.0,1000.0,0.0
29996,29997,150000,1.0,3.0,2.0,43.0,-1.0,-1.0,-1.0,-1.0,...,8979.0,5190.0,0.0,1837.0,3526.0,8998.0,129.0,0.0,0.0,0.0
29997,29998,30000,1.0,2.0,2.0,37.0,4.0,3.0,2.0,-1.0,...,20878.0,20582.0,19357.0,0.0,0.0,22000.0,4200.0,2000.0,3100.0,1.0
29998,29999,80000,1.0,3.0,1.0,41.0,1.0,-1.0,0.0,0.0,...,52774.0,11855.0,48944.0,85900.0,3409.0,1178.0,1926.0,52964.0,1804.0,1.0
29999,30000,50000,1.0,2.0,1.0,46.0,0.0,0.0,0.0,0.0,...,36535.0,32428.0,15313.0,2078.0,1800.0,1430.0,1000.0,1000.0,1000.0,1.0

**Ejercicio 2**

Obten la información del DataFrame con los métodos y propiedades: shape, columns, head(), dtypes, info(), isna()

In [3]:
#shape del df (rows,columns)

df.shape

(30000, 25)

In [4]:
#Nombres de las columnas

df.columns

Index(['ID', 'X1', 'X2', 'X3', 'X4', 'X5', 'X6', 'X7', 'X8', 'X9', 'X10',
       'X11', 'X12', 'X13', 'X14', 'X15', 'X16', 'X17', 'X18', 'X19', 'X20',
       'X21', 'X22', 'X23', 'Y'],
      dtype='object')

In [5]:
#Primeras 5 filas del df

df.head()

,ID,X1,X2,X3,X4,X5,X6,X7,X8,X9,...,X15,X16,X17,X18,X19,X20,X21,X22,X23,Y
0,1,20000,2.0,2.0,1.0,24.0,2.0,2.0,-1.0,-1.0,...,0.0,0.0,0.0,0.0,689.0,0.0,0.0,0.0,0.0,1.0
1,2,120000,2.0,2.0,2.0,26.0,-1.0,2.0,0.0,0.0,...,3272.0,3455.0,3261.0,0.0,1000.0,1000.0,1000.0,0.0,2000.0,1.0
2,3,90000,2.0,2.0,2.0,34.0,0.0,0.0,0.0,0.0,...,14331.0,14948.0,15549.0,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0,0.0
3,4,50000,2.0,2.0,1.0,37.0,0.0,0.0,0.0,0.0,...,28314.0,28959.0,29547.0,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0,0.0
4,5,50000,1.0,2.0,1.0,57.0,-1.0,0.0,-1.0,0.0,...,20940.0,19146.0,19131.0,2000.0,36681.0,10000.0,9000.0,689.0,679.0,0.0

In [6]:
# Tipos de datos del dataframe

df.dtypes

ID       int64
X1       int64
X2     float64
X3     float64
X4     float64
X5     float64
X6     float64
X7     float64
X8     float64
X9     float64
X10    float64
X11    float64
X12    float64
X13    float64
X14    float64
X15    float64
X16    float64
X17    float64
X18    float64
X19    float64
X20    float64
X21    float64
X22    float64
X23    float64
Y      float64
dtype: object

In [7]:
#Información del df

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30000 entries, 0 to 29999
Data columns (total 25 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ID      30000 non-null  int64
 1   X1      30000 non-null  int64
 2   X2      29999 non-null  float64
 3   X3      29998 non-null  float64
 4   X4      29998 non-null  float64
 5   X5      29995 non-null  float64
 6   X6      29997 non-null  float64
 7   X7      29995 non-null  float64
 8   X8      29993 non-null  float64
 9   X9      29991 non-null  float64
 10  X10     29984 non-null  float64
 11  X11     29986 non-null  float64
 12  X12     29989 non-null  float64
 13  X13     29989 non-null  float64
 14  X14     29987 non-null  float64
 15  X15     29985 non-null  float64
 16  X16     29983 non-null  float64
 17  X17     29990 non-null  float64
 18  X18     29992 non-null  float64
 19  X19     29991 non-null  float64
 20  X20     29992 non-null  float64
 21  X21     29989 non-null  float64
 22  X22     29989 non-null  float64
 23  X23     29995 non-null  float64
 24  Y       29997 non-null  float64
dtypes: float64(23), int64(2)
memory usage: 5.7 MB

Regresa la serie de si hay valores null por columna:

In [8]:
df.isnull().any()

ID     False
X1     False
X2      True
X3      True
X4      True
X5      True
X6      True
X7      True
X8      True
X9      True
X10     True
X11     True
X12     True
X13     True
X14     True
X15     True
X16     True
X17     True
X18     True
X19     True
X20     True
X21     True
X22     True
X23     True
Y       True
dtype: bool

Regresa la serie de si hay valores nan por columna:

In [9]:
#Datos nulos dentro del df (Mask of bool values for each element in DataFrame that indicates whether an element is an NA value)

df.isna().any()

ID     False
X1     False
X2      True
X3      True
X4      True
X5      True
X6      True
X7      True
X8      True
X9      True
X10     True
X11     True
X12     True
X13     True
X14     True
X15     True
X16     True
X17     True
X18     True
X19     True
X20     True
X21     True
X22     True
X23     True
Y       True
dtype: bool

**Ejercicio 3**

Limpia los datos eliminando los registros nulos o rellena con la media de la columna

Se realiza una copia del dataframe original para no modificarlo:

In [10]:
df_copy = df.copy()
df_copy

,ID,X1,X2,X3,X4,X5,X6,X7,X8,X9,...,X15,X16,X17,X18,X19,X20,X21,X22,X23,Y
0,1,20000,2.0,2.0,1.0,24.0,2.0,2.0,-1.0,-1.0,...,0.0,0.0,0.0,0.0,689.0,0.0,0.0,0.0,0.0,1.0
1,2,120000,2.0,2.0,2.0,26.0,-1.0,2.0,0.0,0.0,...,3272.0,3455.0,3261.0,0.0,1000.0,1000.0,1000.0,0.0,2000.0,1.0
2,3,90000,2.0,2.0,2.0,34.0,0.0,0.0,0.0,0.0,...,14331.0,14948.0,15549.0,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0,0.0
3,4,50000,2.0,2.0,1.0,37.0,0.0,0.0,0.0,0.0,...,28314.0,28959.0,29547.0,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0,0.0
4,5,50000,1.0,2.0,1.0,57.0,-1.0,0.0,-1.0,0.0,...,20940.0,19146.0,19131.0,2000.0,36681.0,10000.0,9000.0,689.0,679.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29995,29996,220000,1.0,3.0,1.0,39.0,0.0,0.0,0.0,0.0,...,88004.0,31237.0,15980.0,8500.0,20000.0,5003.0,3047.0,5000.0,1000.0,0.0
29996,29997,150000,1.0,3.0,2.0,43.0,-1.0,-1.0,-1.0,-1.0,...,8979.0,5190.0,0.0,1837.0,3526.0,8998.0,129.0,0.0,0.0,0.0
29997,29998,30000,1.0,2.0,2.0,37.0,4.0,3.0,2.0,-1.0,...,20878.0,20582.0,19357.0,0.0,0.0,22000.0,4200.0,2000.0,3100.0,1.0
29998,29999,80000,1.0,3.0,1.0,41.0,1.0,-1.0,0.0,0.0,...,52774.0,11855.0,48944.0,85900.0,3409.0,1178.0,1926.0,52964.0,1804.0,1.0
29999,30000,50000,1.0,2.0,1.0,46.0,0.0,0.0,0.0,0.0,...,36535.0,32428.0,15313.0,2078.0,1800.0,1430.0,1000.0,1000.0,1000.0,1.0

Se eliminan las filas que contienen algún valor "nan", de las cuales se eliminan 42, quedando un total de 29958 filas:

In [11]:
# Remoción de datos nulos en registros 

df_copy.dropna(inplace=True)
df_copy

,ID,X1,X2,X3,X4,X5,X6,X7,X8,X9,...,X15,X16,X17,X18,X19,X20,X21,X22,X23,Y
0,1,20000,2.0,2.0,1.0,24.0,2.0,2.0,-1.0,-1.0,...,0.0,0.0,0.0,0.0,689.0,0.0,0.0,0.0,0.0,1.0
1,2,120000,2.0,2.0,2.0,26.0,-1.0,2.0,0.0,0.0,...,3272.0,3455.0,3261.0,0.0,1000.0,1000.0,1000.0,0.0,2000.0,1.0
2,3,90000,2.0,2.0,2.0,34.0,0.0,0.0,0.0,0.0,...,14331.0,14948.0,15549.0,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0,0.0
3,4,50000,2.0,2.0,1.0,37.0,0.0,0.0,0.0,0.0,...,28314.0,28959.0,29547.0,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0,0.0
4,5,50000,1.0,2.0,1.0,57.0,-1.0,0.0,-1.0,0.0,...,20940.0,19146.0,19131.0,2000.0,36681.0,10000.0,9000.0,689.0,679.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29995,29996,220000,1.0,3.0,1.0,39.0,0.0,0.0,0.0,0.0,...,88004.0,31237.0,15980.0,8500.0,20000.0,5003.0,3047.0,5000.0,1000.0,0.0
29996,29997,150000,1.0,3.0,2.0,43.0,-1.0,-1.0,-1.0,-1.0,...,8979.0,5190.0,0.0,1837.0,3526.0,8998.0,129.0,0.0,0.0,0.0
29997,29998,30000,1.0,2.0,2.0,37.0,4.0,3.0,2.0,-1.0,...,20878.0,20582.0,19357.0,0.0,0.0,22000.0,4200.0,2000.0,3100.0,1.0
29998,29999,80000,1.0,3.0,1.0,41.0,1.0,-1.0,0.0,0.0,...,52774.0,11855.0,48944.0,85900.0,3409.0,1178.0,1926.0,52964.0,1804.0,1.0
29999,30000,50000,1.0,2.0,1.0,46.0,0.0,0.0,0.0,0.0,...,36535.0,32428.0,15313.0,2078.0,1800.0,1430.0,1000.0,1000.0,1000.0,1.0

In [12]:
df_copy.isnull().sum()

ID     0
X1     0
X2     0
X3     0
X4     0
X5     0
X6     0
X7     0
X8     0
X9     0
X10    0
X11    0
X12    0
X13    0
X14    0
X15    0
X16    0
X17    0
X18    0
X19    0
X20    0
X21    0
X22    0
X23    0
Y      0
dtype: int64

In [13]:
df_copy.isna().sum()

ID     0
X1     0
X2     0
X3     0
X4     0
X5     0
X6     0
X7     0
X8     0
X9     0
X10    0
X11    0
X12    0
X13    0
X14    0
X15    0
X16    0
X17    0
X18    0
X19    0
X20    0
X21    0
X22    0
X23    0
Y      0
dtype: int64

**Limpieza de datos**

Se procede a realizar una limpieza de datos especial para X3, X4, y X6-X11 puesto que contienen datos fuera del rango de valores esperados.

In [14]:
df_copy['X3'].value_counts()

2.0    14009
1.0    10572
3.0     4909
5.0      280
4.0      123
6.0       51
0.0       14
Name: X3, dtype: int64

La columna X3 representa el grado de estudios, 1 para egresados de licenciatura, 2 para estudiantes de universidad, 3 para estudiantes de bachillerato y 4 para cualquier otro, como podemos ver, tenemos datos fuera de estos valores, por lo que tenemos que realizar un proceso de limpieza. Por lo que procederemos a sustituir los datos que no entran en ninguna de las categorías para que formen parte del grupo "otros(4)".

In [15]:
def limpieza_por_sustitucion(valor_original, valor_objetivo, lista_valores):
    if valor_original in lista_valores:
      return valor_original
    else:
      return valor_objetivo

In [16]:
df_copy['X3'] = df_copy['X3'].apply(limpieza_por_sustitucion, args=(4, [1, 2, 3, 4]))
df_copy['X3'].value_counts()

2.0    14009
1.0    10572
3.0     4909
4.0      468
Name: X3, dtype: int64

La columna X4 es el estado civil, 1 para casado, 2 para soltero y 3 para otros, apreciamos que hay 54 valores con 0, que no entra en los posibles valores. Ya teniendo la función, procedemos a pasar estos valores a la categoría "otros(3)".

In [17]:
df_copy['X4'].value_counts()

2.0    15939
1.0    13643
3.0      322
0.0       54
Name: X4, dtype: int64

In [18]:
df_copy['X4'] = df_copy['X4'].apply(limpieza_por_sustitucion, args=(3, [1, 2, 3]))
df_copy['X4'].value_counts()

2.0    15939
1.0    13643
3.0      376
Name: X4, dtype: int64

De la columna X6 a la X11 son el estado de los pagos, -1 equivale a "al corriente", de 1 a 8 corresponde a los meses de atraso en los pagos, 9 abarca para atrasos de 9 meses en adelante, podemos apreciar que en todas esas columnas hay valores que no corresponden (-2, 0), que representan muchos renglones. Se realizará con el proceso de filtración, agregando esos cambios al rubro "al corriente (-1)".

In [19]:
df_copy.loc[:, 'X6': 'X11'].apply(pd.Series.value_counts)

         X6     X7     X8     X9      X10      X11
-2.0   2758   3778   4082   4343   4541.0   4890.0
-1.0   5680   6042   5930   5681   5533.0   5731.0
 0.0  14717  15709  15742  16431  16925.0  16266.0
 1.0   3678     28      4      2      NaN      NaN
 2.0   2662   3918   3811   3154   2618.0   2760.0
 3.0    322    326    240    179    178.0    183.0
 4.0     76     99     76     69     84.0     49.0
 5.0     26     25     21     35     17.0     13.0
 6.0     11     12     23      5      4.0     18.0
 7.0      9     20     27     57     57.0     46.0
 8.0     19      1      2      2      1.0      2.0

In [20]:
for x in range(6, 12):
  df_copy[f'X{x}'] = df_copy[f'X{x}'].apply(limpieza_por_sustitucion, args=(-1, [-1, 1, 2, 3, 4, 5, 6, 7, 8, 9]))
df_copy.loc[:, 'X6': 'X11'].apply(pd.Series.value_counts)

         X6     X7     X8     X9      X10      X11
-1.0  23155  25529  25754  26455  26999.0  26887.0
 1.0   3678     28      4      2      NaN      NaN
 2.0   2662   3918   3811   3154   2618.0   2760.0
 3.0    322    326    240    179    178.0    183.0
 4.0     76     99     76     69     84.0     49.0
 5.0     26     25     21     35     17.0     13.0
 6.0     11     12     23      5      4.0     18.0
 7.0      9     20     27     57     57.0     46.0
 8.0     19      1      2      2      1.0      2.0

Las columnas X12 a la X17 que representan los estados de cuenta de diferentes meses. Estos valores pueden ser negativos si el cliente tiene "saldo a favor", es decir, abonó a su cuenta alcanzando un saldo mayor a su línea de crédito, sin embargo el comportamiento normal es que este saldo sea positivo, es decir, que el cliente deba a la tarjeta, que es lo que podemos apreciar en cada uno de los cuartiles, así como en el promedio.

In [21]:
df_copy.loc[:, 'X12':'X17'].describe()

,X12,X13,X14,X15,X16,X17
count,29958.000000,29958.000000,2.995800e+04,29958.000000,29958.000000,29958.000000
mean,51248.119901,49200.493825,4.703239e+04,43279.335370,40328.984578,38889.925763
std,73674.949943,71211.232744,6.938524e+04,64364.684347,60826.219326,59582.883301
min,-165580.000000,-69777.000000,-1.572640e+05,-170000.000000,-81334.000000,-339603.000000
25%,3559.250000,2984.000000,2.664750e+03,2327.500000,1762.250000,1256.000000
50%,22379.000000,21194.500000,2.008550e+04,19037.500000,18104.500000,17067.500000
75%,67190.000000,64027.750000,6.018300e+04,54551.250000,50220.750000,49234.750000
max,964511.000000,983931.000000,1.664089e+06,891586.000000,927171.000000,961664.000000

Las columnas X18 a la X23 que representan los pagos realizados de cada mes. Este rubro puede solo manejar valores mayores o iguales a 0, ya que no existen pagos negativos, que corresponde al comportamiento observado, comprobando así que la información contenida es correcta y sin datos falsos.

In [22]:
df_copy.loc[:, 'X18':'X23'].describe()

,X18,X19,X20,X21,X22,X23
count,29958.000000,2.995800e+04,29958.000000,29958.000000,29958.000000,29958.000000
mean,5664.614460,5.925715e+03,5228.429969,4829.873556,4801.481574,5220.708025
std,16568.823518,2.305598e+04,17617.338167,15676.205514,15285.552652,17788.983767
min,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000
25%,1000.000000,8.352500e+02,390.000000,296.250000,253.250000,118.000000
50%,2100.000000,2.009000e+03,1800.000000,1500.000000,1500.000000,1500.000000
75%,5007.000000,5.000000e+03,4511.500000,4014.750000,4040.000000,4000.000000
max,873552.000000,1.684259e+06,896040.000000,621000.000000,426529.000000,528666.000000

Ya completada la limpieza de toda la base de datos de prueba, se asigna su valor a la original, para poder realizar los análisis y procesamientos requeridos con ella.

In [23]:
df = df_copy
df

,ID,X1,X2,X3,X4,X5,X6,X7,X8,X9,...,X15,X16,X17,X18,X19,X20,X21,X22,X23,Y
0,1,20000,2.0,2.0,1.0,24.0,2.0,2.0,-1.0,-1.0,...,0.0,0.0,0.0,0.0,689.0,0.0,0.0,0.0,0.0,1.0
1,2,120000,2.0,2.0,2.0,26.0,-1.0,2.0,-1.0,-1.0,...,3272.0,3455.0,3261.0,0.0,1000.0,1000.0,1000.0,0.0,2000.0,1.0
2,3,90000,2.0,2.0,2.0,34.0,-1.0,-1.0,-1.0,-1.0,...,14331.0,14948.0,15549.0,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0,0.0
3,4,50000,2.0,2.0,1.0,37.0,-1.0,-1.0,-1.0,-1.0,...,28314.0,28959.0,29547.0,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0,0.0
4,5,50000,1.0,2.0,1.0,57.0,-1.0,-1.0,-1.0,-1.0,...,20940.0,19146.0,19131.0,2000.0,36681.0,10000.0,9000.0,689.0,679.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29995,29996,220000,1.0,3.0,1.0,39.0,-1.0,-1.0,-1.0,-1.0,...,88004.0,31237.0,15980.0,8500.0,20000.0,5003.0,3047.0,5000.0,1000.0,0.0
29996,29997,150000,1.0,3.0,2.0,43.0,-1.0,-1.0,-1.0,-1.0,...,8979.0,5190.0,0.0,1837.0,3526.0,8998.0,129.0,0.0,0.0,0.0
29997,29998,30000,1.0,2.0,2.0,37.0,4.0,3.0,2.0,-1.0,...,20878.0,20582.0,19357.0,0.0,0.0,22000.0,4200.0,2000.0,3100.0,1.0
29998,29999,80000,1.0,3.0,1.0,41.0,1.0,-1.0,-1.0,-1.0,...,52774.0,11855.0,48944.0,85900.0,3409.0,1178.0,1926.0,52964.0,1804.0,1.0
29999,30000,50000,1.0,2.0,1.0,46.0,-1.0,-1.0,-1.0,-1.0,...,36535.0,32428.0,15313.0,2078.0,1800.0,1430.0,1000.0,1000.0,1000.0,1.0

In [24]:
# Cambio a datos categóricos de las columnas con base a la descripción del dataset
df['ID'] = df['ID'].astype('category')
df['X1'] = df['X1'].astype('float64')
df['X2'] = df['X2'].astype('category')
df['X3'] = df['X3'].astype('category')
df['X4'] = df['X4'].astype('category')
df['X6'] = df['X6'].astype('category')
df['X7'] = df['X7'].astype('category')
df['X8'] = df['X8'].astype('category')
df['X9'] = df['X9'].astype('category')
df['X10'] = df['X10'].astype('category')
df['X11'] = df['X11'].astype('category')
df['Y'] = df['Y'].astype('category')

df.dtypes

ID     category
X1      float64
X2     category
X3     category
X4     category
X5      float64
X6     category
X7     category
X8     category
X9     category
X10    category
X11    category
X12     float64
X13     float64
X14     float64
X15     float64
X16     float64
X17     float64
X18     float64
X19     float64
X20     float64
X21     float64
X22     float64
X23     float64
Y      category
dtype: object

**Ejercicio 4**

Calcula la estadística descriptiva con describe() y explica las medidas de tendencia central y dispersión.

In [25]:
# Estadística descriptiva para datos numéricos

df.describe()

,X1,X5,X12,X13,X14,X15,X16,X17,X18,X19,X20,X21,X22,X23
count,29958.000000,29958.000000,29958.000000,29958.000000,2.995800e+04,29958.000000,29958.000000,29958.000000,29958.000000,2.995800e+04,29958.000000,29958.000000,29958.000000,29958.000000
mean,167555.900928,35.483443,51248.119901,49200.493825,4.703239e+04,43279.335370,40328.984578,38889.925763,5664.614460,5.925715e+03,5228.429969,4829.873556,4801.481574,5220.708025
std,129737.299088,9.214319,73674.949943,71211.232744,6.938524e+04,64364.684347,60826.219326,59582.883301,16568.823518,2.305598e+04,17617.338167,15676.205514,15285.552652,17788.983767
min,10000.000000,21.000000,-165580.000000,-69777.000000,-1.572640e+05,-170000.000000,-81334.000000,-339603.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000
25%,50000.000000,28.000000,3559.250000,2984.000000,2.664750e+03,2327.500000,1762.250000,1256.000000,1000.000000,8.352500e+02,390.000000,296.250000,253.250000,118.000000
50%,140000.000000,34.000000,22379.000000,21194.500000,2.008550e+04,19037.500000,18104.500000,17067.500000,2100.000000,2.009000e+03,1800.000000,1500.000000,1500.000000,1500.000000
75%,240000.000000,41.000000,67190.000000,64027.750000,6.018300e+04,54551.250000,50220.750000,49234.750000,5007.000000,5.000000e+03,4511.500000,4014.750000,4040.000000,4000.000000
max,1000000.000000,79.000000,964511.000000,983931.000000,1.664089e+06,891586.000000,927171.000000,961664.000000,873552.000000,1.684259e+06,896040.000000,621000.000000,426529.000000,528666.000000

In [26]:
# Estadística descriptiva para datos categóricos

df.describe(include=['category'])

,ID,X2,X3,X4,X6,X7,X8,X9,X10,X11,Y
count,29958,29958.0,29958.0,29958.0,29958.0,29958.0,29958.0,29958.0,29958.0,29958.0,29958.0
unique,29958,2.0,4.0,3.0,9.0,9.0,9.0,9.0,8.0,8.0,2.0
top,1,2.0,2.0,2.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,0.0
freq,1,18095.0,14009.0,15939.0,23155.0,25529.0,25754.0,26455.0,26999.0,26887.0,23333.0