<a href="https://colab.research.google.com/github/PosgradoMNA/actividades-de-aprendizaje-SinaiAvalos/blob/main/Actividad%20de%20semana%201%20-%202%3A%20Python%20for%20Data%20Science%20(IBM)/Modulo3/Functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**SINA√ç AVALOS RIVERA 
A01730466**

# **FUNCTIONS**

Functions take some input then produce some output or change.
The function is just a piece of code you can reuse. If we define a function to do the task we just have to call the function.

In [2]:
album_ratings = [10.0,8.5,9.5,7.0,7.0,.5,9.0,9.5]
L=len(album_ratings)
L

8

In [3]:
S=sum(album_ratings)
S

61.0

Methods are similar to functions.

In [7]:
#function sorted returns a new sorted list or tuple
sorted_album_rating = sorted(album_ratings)
sorted_album_rating

[0.5, 7.0, 7.0, 8.5, 9.0, 9.5, 9.5, 10.0]

In [8]:
#method sort: the list album ratings will change and no new list will be created
album_ratings = [10.0,8.5,9.5,7.0,7.0,.5,9.0,9.5]
album_ratings.sort()
album_ratings

[0.5, 7.0, 7.0, 8.5, 9.0, 9.5, 9.5, 10.0]

**Making functions**

In [17]:
def add1(a):
  #a is a function formal parameter
  b=a+1
  return b

c = add1(5)
c

6

In [19]:
#function with multiple parameters
def Mult(a,b):
  c=a*b
  return c

Mult("Hola ",2)

'Hola Hola '

In [21]:
#function with no return

def MJ():
  print("Michael Jackson")

MJ();

Michael Jackson

In [22]:
#function that perform no task

In [24]:
def NoWork():
  pass #allows to do nothing

print(NoWork())

None

In [29]:
#Global Scope

def ACDC(y):
  print(Rating)
  return(Rating+y)

Rating = 9

Z=ACDC(1)

print(Rating)

9
9

In [31]:
#Global scope variable

def PinkFloyd():
  global ClaimedSales
  ClaimedSales = "45m"
  return ClaimedSales

PinkFloyd()
print(ClaimedSales)

45m